<br>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
    <input type="text" id="new-agenda-item" class="form-control" placeholder="New Agenda Item">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
    <input type="text" name="" id="new-agenda-item-user-email" class="form-control meeting-attendees-typeahead" placeholder="Who will present (Email)?">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
    <input type="text" id="new-agenda-item-time-limit" class="form-control" placeholder="Time Limit (Mins)">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
    <span class="input-group-btn">
      
      <button type="button" class="btn btn-primary add-agenda-item-btn" data-meeting-id="<%= @meeting.id %>">Add</button>
      
    </span>
  </div>
  <hr>
</div>
<div id="agenda-item-container">
  <%= render "shared/meeting_agenda_items" %>
</div>