<br>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-11">
    <input type="text" id="new-attendee-email" class="form-control company-attendees-typeahead" placeholder="Enter Email (Comma Seperated for multiple)">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
    <span class="input-group-btn">
      
      <button type="button" id="add-attendee-btn" class="btn btn-primary" data-meeting-id="<%= @meeting.id %>">Add</button>
      
    </span>
  </div>
  <hr>
</div>
<div id="attendee-container">
  <%= render "shared/meeting_attendees" %>
</div>