<br>
<div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <input type="text" name="" id="new-deliverable-text" class="form-control" value="" placeholder="What is needed">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <input type="text" name="" id="new-deliverable-user-email" class="form-control meeting-attendees-typeahead" placeholder="Who? (Email)">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <input type="text" name="" id="new-deliverable-due-date" class="form-control datepicker" value="" placeholder="When is it needed?">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-1">
      <button class="btn btn-primary" id="add-deliverable-button">Add</button>
    </div>
    <hr>
  </div>
  <div id="deliverable-list">
     <%= render "shared/meeting_deliverables" %>
  </div>
</div>