<%= form_for(meeting) do |f| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :meeting_name %>
    <%= f.text_field :meeting_name, class: 'form-control' %>
  </div>
<br>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control'  %>
  </div>
<br>
  <div class="field">
    <label>Due Date</label>
   <input type="text" class="form-control datepicker" name="meeting[date]">
  </div>

<br><br>
  <div class="actions pull-right">
    <%= f.submit 'submit', class: ["btn","btn-success"], value: 'Add Meeting' %>
  </div>
<% end %>
