<br>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-11">
    <input type="text" id="new_goal" class="form-control" placeholder="New Goal">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
    <span class="input-group-btn">
      
      <button type="button" class="btn btn-primary add-goal-btn" data-meeting-id="<%= @meeting.id %>">Add</button>
      
    </span>
  </div>
  <hr>
</div>
<div id="goal-container">
  <%= render "shared/meeting_goals" %>
</div>