<div class="row">
    <% @meetings.each do |meeting| %>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="panel panel-default meeting-panel">
            <div class="panel-heading">
                <a href="/meetings/<%= meeting.id %>"><h3 class="panel-title"><%= meeting.meeting_name %> <%= meeting.date %></h3></a>
            </div>
            <div class="panel-body">
                <p><%= meeting.description %></p>
            </div>
        </div>
    </div>
    <% end %>
</div>