<br>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
    <input type="text" class="form-control" id="new-parking-lot-item" placeholder="Start typing here to park something">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
    <button class="btn btn-primary" id="add-parking-lot-button" data-meeting-id="<%= @meeting.id %>">Add</button>
  </div>
  <hr>
</div>


<div id="parking-lot-list">
  <%= render "shared/meeting_parking_lot_items" %>
</div>