<div class="modal fade" id="time-is-up-modal">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Time Is Up!</h4>
    </div>
    <div class="modal-body">
      <p>The time allotted for this agenda item has passed, please click continue and move on to the next one.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default end-timer" data-dismiss="modal">Continue</button>
    </div>
  </div>
</div>
</div>