<div class="row">
    <div class="col-xs-12 col-sm-12 col-md3 col-lg-3">
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search</h3>
                    </div>
                    <div class="panel-body">
                        <input type="text" id="meeting-search-input" class="form-control" value="" placeholder="Search by name or description">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" id="new-meeting-panel-heading">
                        <h3 class="panel-title">New Meeting <span class="pull-right"><i class="fa fa-chevron-down" id="new-meeting-heading-chevron"></i></span></h3>
                    </div>
                    <div id="new-meeting-panel-body" class="panel-body hide">
                        <%= render 'form', meeting: @meeting %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div id="meeting-list">
            <%= render 'meeting_list' %>
        </div>
    </div>
</div>