<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h1 class="panel-title"><%= @meeting.meeting_name %></h1>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <span class="pull-right">
          <a id="send-agenda-button" class="btn btn-default" target="_blank">Send Agenda</a>
          <a id="send-notes-button" class="btn btn-default" target="_blank">Send Notes</a>
          <a href="/meetings/<%= @meeting.id %>/md" class="btn btn-warning" target="_blank">Printable</a>
          <a href="/meetings/<%= @meeting.id %>/text" class="btn btn-success" target="_blank">Plain Text</a>
        </span>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <input type="hidden" id="meeting-id" value="<%= @meeting.id %>">
        
        <p>
          <%= @meeting.description %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#goals" aria-controls="home" role="tab" data-toggle="tab">Goals</a>
            </li>
            <li role="presentation" id="attendee-tab">
              <a href="#attendees" aria-controls="home" role="tab" data-toggle="tab">Attendees</a>
            </li>
            <li role="presentation">
              <a href="#agenda" aria-controls="tab" role="tab" data-toggle="tab">Agenda</a>
            </li>
            <li role="presentation">
              <a href="#deliverables" aria-controls="tab" role="tab" data-toggle="tab">Deliverables</a>
            </li>
            <li role="presentation">
              <a href="#parking" aria-controls="home" role="tab" data-toggle="tab">Parking Lot</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            
            <div role="tabpanel" class="tab-pane active" id="goals">
              <%= render "goal_tab" %>
            </div>
            <div role="tabpanel" class="tab-pane" id="attendees">
              <%= render 'attendee_tab' %>
            </div>
            <div role="tabpanel" class="tab-pane" id="agenda">
              <%= render 'agenda_tab' %>
            </div>
            <div role="tabpanel" class="tab-pane" id="deliverables">
              <%= render 'deliverables_tab' %>
            </div>
            <div role="tabpanel" class="tab-pane" id="parking">
              <%= render "parking_tab" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="agenda-mail-has-been-sent-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Agenda Sent</h4>
      </div>
      <div class="modal-body">
        The Goals and Agenda have been sent to the attendees.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="notes-mail-has-been-sent-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Notes Sent</h4>
      </div>
      <div class="modal-body">
        Meeting notes have been sent to the attendees.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<%= render 'timeup_modal' %>
<!--
<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
-->