# <%= meeting.meeting_name %>
<%= meeting.description %>

##Attendees
<% meeting.attendees.each do |attendee| %>
* <%= attendee.email %>
<% end %>

## Goals
<% meeting.goals.each do |goal| %>
* <%= goal.goal_text %>
<% end %>

## Agenda
<% meeting.agenda_items.each do |agenda_item| %>
* <% if !agenda_item.done && !goals_and_agendas_only %>~~<% end %><%= agenda_item.agenda_item_text %><% if !agenda_item.done && !goals_and_agendas_only %>~~<% end %>
<% end %>

<% if !goals_and_agendas_only %>

## Deliverables
<% meeting.deliverables.each do |deliverable| %>
* <%= deliverable.attendee.email %>: <%= deliverable.deliverable_text %> by <%= deliverable.due_date %>

<% end %>

## Parking Lot
<% meeting.parking_lot_items.each do |parking_lot_item| %>
* <%= parking_lot_item.text %>
<% end %>

# Key
~~X~~ = Did not get to this item

<% end %>
