<div class="row">
    
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-lg-offset-4 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body">
                <form action="login" method="POST" role="form">
                     <% if flash[:notice] %>
                     <div class="alert alert-danger">
                         <%= flash[:notice] %>
                     </div>
                     <% end %>
                    
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Input field">
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Input field">
                    </div>

                    <input type="hidden" name="redirect_to" value="<%= params[:redirect_to] %>">
                    
                    <span class="pull-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </span>
                </form>
                
            </div>
        </div>
    </div>
    
</div>