 <ul class="list-group">
 <% @meeting.attendees.order(id: :desc).each do |attendee| %>
 <li class="list-group-item <% if  @new_attendee_ids && @new_attendee_ids.index(attendee.id) %>flash<% end %>"><%= attendee.email %>
 <% if(attendee.agenda_items.count == 0 && attendee.deliverables.count == 0) %>
    <span class="pull-right remove-attendee" data-attendee-id="<%= attendee.id %>"><i class="fa fa-remove"></i></span>
 <% end %>
</li>
 <% end %>
</ul>