<% unless @meeting.agenda_items.count > 0 %>
<div class="row">
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="alert alert-info">
            <p>There are no agenda items attached to this meeting.</p>
            <p>Having a detailed agenda will keep the meeting on track</p>
            <p>You can add a new agenda item below</p>
        </div>
        
    </div>
    
</div>
<% end %>
<% if @meeting.agenda_items.count > 0 %>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Agenda Item</th>
            <th>Presenter</th>
            <th>Time Limit</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @meeting.agenda_items.order(:order).each do |agenda_item| %>
        <tr class="agenda-rows <% if agenda_item.done %>text-muted<% end %>">
            <td><%= agenda_item.agenda_item_text %></td>
            <td><%= agenda_item.attendee.email %></td>
            <td><%= agenda_item.time_limit %></td>
            <td><button type="button" class="btn btn-success start-timer" data-time-limit="<%= agenda_item.time_limit %>" data-agenda-item-id="<%= agenda_item.id %>" <% if agenda_item.done %>disabled="disabled"<% end %>>Start Timer</button> <% if !agenda_item.done %><span class="pull-right delete-agenda-item" data-agenda-item-id="<%= agenda_item.id %>"><i class="fa fa-remove"></i></span><% end %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<div class="well hide" id="countdown-timer">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
            
            <h2 class="text-center">
            <span id="agenda-item-timer-text"></span>
            </h2>
            <h1 class="text-center"><label id="agenda-item-time-left" class="label label-success">10</label> Minutes</h1>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <br>
          <button type="button" class="btn btn-danger end-timer">Stop Timer</button>
        </div>
    </div>
</div>
<% end %>