 <ul class="list-group">
 <% @meeting.deliverables.order(id: :desc).each do |deliverable| %>
 <li class="list-group-item <% if @deliverable && @deliverable.id == deliverable.id %>flash<% end %>"><%= deliverable.attendee.email %>: <%= deliverable.deliverable_text %> by <%= deliverable.due_date %> <span class="pull-right delete-deliverable-btn" data-deliverable-id="<%= deliverable.id %>"><i class="fa fa-remove"></i></span></li>
 <% end %>
</ul>