 <ul class="list-group">
 <% @meeting.parking_lot_items.order(id: :desc).each do |parking_lot_item| %>
 <li class="list-group-item <% if @parking_lot_item && @parking_lot_item.id == parking_lot_item.id %>flash<% end %>"><%= parking_lot_item.text %> <span class="pull-right delete-parking-lot-btn" data-parking-lot-item-id="<%= parking_lot_item.id %>"><i class="fa fa-remove"></i></span></li>
 <% end %>
</ul>