<% unless @meeting.goals.count > 0 %>
<div class="row">
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-info">
        <p>There are no goals attached to this meeting.</p>
        <p>What is the point of a meeting with no goals?</p>
        <p>You can add a new goal below</p>
    </div>
    
  </div>
  
</div>
<% end %>



<% if @meeting.goals.count > 0 %>
<div class="row">
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


<ul class="list-group">
<% @meeting.goals.each do |goal| %>

<li class="list-group-item goal-list-group-item <% if @goal != nil && @goal.id == goal.id %>flash<% end %>"><%= goal.goal_text %> <span class="pull-right delete-goal-btn" data-goal-id="<%= goal.id %>"><i class="fa fa-remove"></i></li>

<%  end %>
</ul>

  </div>
  
</div>
<% end %>