<%= form_for(setting) do |f| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_name %>
    <%= f.text_field :company_name %>
  </div>

  <div class="field">
    <%= f.label :average_salary %>
    <%= f.number_field :average_salary %>
  </div>

  <div class="field">
    <%= f.label :number_of_employees %>
    <%= f.number_field :number_of_employees %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
