<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @setting.company_name %>
</p>

<p>
  <strong>Average salary:</strong>
  <%= @setting.average_salary %>
</p>

<p>
  <strong>Number of employees:</strong>
  <%= @setting.number_of_employees %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
